<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CustomerInvoice.Data.Properties.Settings.CustomerInvoiceConnectionString1"
            connectionString="Data Source=ADMIN-PC\SQL2014;Initial Catalog=CustomerInvoice;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>